/*Configura as margens e o fundo do site*/
*{
    margin: 0;
    padding: 0;
}
body{
    background: white;
}
main{
    align-items: center;
}

/*Configura a seção "sobre nós"*/
#paulo-freire{
    width: 600px;
    height: 400px;
    margin-top: 75px;
    margin-left: 1vw;
    margin-bottom: 10px;
}

#titulo-sobre-nos{
    font-family: Copperplate, fantasy;
    position: absolute;
    margin-top: 215px;
    margin-left: 70vw;
}

#sobre-nos{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    display: block;
    text-align: left;
    margin-left: 50vw;
    margin-top: 245px;
    position: absolute;
}

#saiba-sobre-nos{
    position: absolute;
    margin-top: 370px;
    margin-left: 70vw;
    padding: 10px;
    border-radius: 10px;
}

/*Configura a seção "Motivos para estudar na FACONNECT*/