:root{
    --cor-primaria: #00BCD4;
    --cor-secundaria: white;
}

/*Remove o checkbox do menu*/
#check{
    display: none;
}

/*Configura o icone do menu*/
#icon{
    cursor: pointer;
    position: absolute;
    padding: 15px;
    z-index: 1;
}

/*Configura e estiliza a barra lateral e seus itens*/
.barra{
    background-color: var(--cor-primaria);
    height: 100%;
    width: 300px;
    position: absolute;
    transition: all 0.2s linear;
    left: -300px;
}

nav{
    width: 100%;
    position: absolute;
    top: 60px;
}

nav a{
    text-decoration: none;

}

.link{
    background-color:darkcyan;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12pt;
    transition: all 0.2s linear;
    color: white;
    border-bottom: 2px solid white;
}

.link:hover{
    background-color: tomato;
}

/*Animação do menu*/
#check:checked ~ .barra{
    transform: translateX(300px);
}